financial-services-prospect-automation/workflows/07-ai-personalization-agent.json
{
  "name": "AI Personalization Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "When Called by Orchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  prospect_id,\n  email,\n  first_name,\n  last_name,\n  job_title,\n  company_name,\n  company_domain,\n  company_website,\n  industry,\n  linkedin_url,\n  linkedin_profile_data,\n  company_research,\n  ai_qualification_score,\n  ai_qualification_grade,\n  ai_key_strengths\nFROM fs_prospects\nWHERE status = 'qualified'\n  AND ai_qualification_grade IN ('A', 'B')\nORDER BY ai_qualification_score DESC\nLIMIT 15;"
      },
      "id": "load-qualified-prospects",
      "name": "Load Qualified A/B Prospects",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "your-supabase-credential-id",
          "name": "Supabase - Syntora"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "deep-research-prompt",
              "name": "prompt",
              "value": "={{ \"You are a research analyst for a company that helps implement AI and Automation solutions for financial services.\\n\\nConduct DEEP RESEARCH on this prospect to identify pain points and opportunities.\\n\\nPROSPECT DATA:\\n\" + JSON.stringify($json, null, 2) + \"\\n\\nRESEARCH FOCUS:\\n1. Analyze their company background and growth trajectory\\n2. Identify operational challenges they likely face\\n3. Look for automation opportunities in their business\\n4. Find relevant industry trends affecting them\\n5. Identify their credentials/expertise areas\\n6. Note any mutual connections or common interests\\n\\nPROVIDE DETAILED ANALYSIS IN THIS JSON FORMAT:\\n{\\n  \\\"company_background\\\": \\\"brief company history and positioning\\\",\\n  \\\"growth_indicators\\\": [\\\"list recent growth signals\\\"],\\n  \\\"likely_pain_points\\\": [\\\"operational challenges they face\\\"],\\n  \\\"automation_opportunities\\\": [\\\"where AI/automation could help\\\"],\\n  \\\"industry_challenges\\\": [\\\"relevant industry trends affecting them\\\"],\\n  \\\"credentials_expertise\\\": [\\\"their professional strengths\\\"],\\n  \\\"mutual_interests\\\": [\\\"potential connection points\\\"],\\n  \\\"recent_achievements\\\": [\\\"company news or milestones\\\"],\\n  \\\"recommended_angle\\\": \\\"best approach to start conversation\\\",\\n  \\\"key_value_props\\\": [\\\"which of our solutions fit best\\\"]\\n}\\n\\nBe specific and actionable. This research will inform personalized outreach.\" }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "prepare-research-prompt",
      "name": "Prepare Deep Research Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4o",
        "options": {
          "temperature": 0.7,
          "maxTokens": 1500
        },
        "text": "={{ $json.prompt }}"
      },
      "id": "gpt4-deep-research",
      "name": "GPT-4 Deep Research",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [850, 300],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Parse research results and prepare for personalization\nconst originalData = $('Prepare Deep Research Prompt').first().json;\nconst aiResponse = $json.message?.content || $json.text || '';\n\ntry {\n  const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  const research = jsonMatch ? JSON.parse(jsonMatch[0]) : {};\n  \n  return {\n    json: {\n      ...originalData,\n      deep_research: research,\n      personalization_stage: 'ready_for_drafts'\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      ...originalData,\n      deep_research: { raw_response: aiResponse },\n      personalization_stage: 'ready_for_drafts',\n      research_error: error.message\n    }\n  };\n}"
      },
      "id": "parse-research",
      "name": "Parse Research Results",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "linkedin-prompt",
              "name": "prompt",
              "value": "={{ \"You are crafting a LinkedIn connection request or InMail for a financial services professional.\\n\\nYour company helps implement AI and Automation solutions for financial services.\\n\\nPROSPECT:\\n\" + JSON.stringify({ name: $json.first_name + ' ' + $json.last_name, title: $json.job_title, company: $json.company_name, research: $json.deep_research }, null, 2) + \"\\n\\nWRITE A LINKEDIN MESSAGE WITH:\\n\\nTONE: Friendly casual with practical experience\\nLENGTH: Short (2-3 sentences max)\\nSTYLE: Consultative but not salesy\\n\\nFOCUS ON (in order of priority):\\n1. Mutual connections or interests\\n2. Recent company news/achievements\\n3. Industry challenges relevant to them\\n4. Their credentials/expertise\\n\\nPROVIDE IN THIS JSON FORMAT:\\n{\\n  \\\"subject_line\\\": \\\"LinkedIn connection request subject (optional)\\\",\\n  \\\"message\\\": \\\"2-3 sentence LinkedIn message\\\",\\n  \\\"approach_rationale\\\": \\\"why this angle was chosen\\\",\\n  \\\"backup_angle\\\": \\\"alternative approach if primary doesn't land\\\"\\n}\\n\\nKeep it conversational and genuine. You're starting a professional relationship, not making a pitch.\" }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "prepare-linkedin-prompt",
      "name": "Prepare LinkedIn Draft Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email-prompt",
              "name": "prompt",
              "value": "={{ \"You are crafting a cold email to a financial services professional.\\n\\nYour company helps implement AI and Automation solutions for financial services.\\n\\nPROSPECT:\\n\" + JSON.stringify({ name: $json.first_name + ' ' + $json.last_name, title: $json.job_title, company: $json.company_name, research: $json.deep_research }, null, 2) + \"\\n\\nWRITE A COLD EMAIL WITH:\\n\\nTONE: Friendly casual with practical experience, curious\\nLENGTH: Medium (4-5 sentences)\\nSTYLE: Consultative - focus on their challenges, not your solutions\\n\\nFOCUS ON (in order of priority):\\n1. Recent company news/achievements\\n2. Industry challenges/pain points\\n3. Their specific services\\n4. Growth indicators\\n\\nSTRUCTURE:\\n- Opening: Personalized hook based on research\\n- Middle: Show understanding of their challenges\\n- Close: Soft call-to-action (conversation, not meeting)\\n\\n🚨 CRITICAL FORMATTING RULES - YOU MUST FOLLOW THESE EXACTLY:\\n\\n1. PLAIN TEXT ONLY - No formatting characters whatsoever:\\n   ❌ NO quotation marks of any kind\\n   ❌ NO asterisks **\\n   ❌ NO dashes or hyphens for lists\\n   ❌ NO underscores _\\n   ❌ NO bullet points\\n   ❌ NO numbered lists\\n   ❌ NO emojis\\n   ❌ NO special characters for emphasis\\n\\n2. PARAGRAPH FORMAT ONLY:\\n   ✅ Write in complete paragraphs\\n   ✅ Use natural sentence flow\\n   ✅ Separate thoughts with line breaks if needed\\n   ✅ Keep it conversational and smooth\\n\\n3. WRITING STYLE:\\n   ✅ Concise and to the point\\n   ✅ Curious tone - ask questions\\n   ✅ Natural human voice\\n   ✅ No corporate jargon\\n\\nEXAMPLE OF CORRECT FORMAT:\\n\\nHi Sarah,\\n\\nI noticed your firm recently expanded to three new locations. Managing client workflows across multiple offices can get messy fast.\\n\\nCurious how you're currently handling document routing and approval processes as you scale. Most firms your size are looking for ways to automate the repetitive stuff without losing the personal touch.\\n\\nWorth a quick chat to see if we can help?\\n\\nBest,\\n[Name]\\n\\nPROVIDE IN THIS JSON FORMAT:\\n{\\n  \\\"subject_line\\\": \\\"compelling, personalized subject (plain text only)\\\",\\n  \\\"email_body\\\": \\\"4-5 sentence email (plain text paragraphs only, no formatting characters)\\\",\\n  \\\"ps_line\\\": \\\"optional P.S. to add personality (plain text or null)\\\",\\n  \\\"approach_rationale\\\": \\\"why this angle was chosen\\\",\\n  \\\"best_send_time\\\": \\\"recommended day/time to send\\\"\\n}\\n\\nREMEMBER: The email_body field must be PURE PLAIN TEXT with NO quotation marks, NO asterisks, NO dashes, NO bullet points, NO emojis. Write natural paragraphs that flow like human conversation.\" }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "prepare-email-prompt",
      "name": "Prepare Email Draft Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4o",
        "options": {
          "temperature": 0.8,
          "maxTokens": 500
        },
        "text": "={{ $json.prompt }}"
      },
      "id": "gpt4-linkedin-draft",
      "name": "GPT-4 LinkedIn Draft",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1450, 200],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4o",
        "options": {
          "temperature": 0.8,
          "maxTokens": 700
        },
        "text": "={{ $json.prompt }}"
      },
      "id": "gpt4-email-draft",
      "name": "GPT-4 Email Draft",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1450, 400],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Merge LinkedIn and Email drafts with prospect data\nconst prospectData = $('Parse Research Results').first().json;\nconst linkedinResponse = $('GPT-4 LinkedIn Draft').first().json.message?.content || '';\nconst emailResponse = $('GPT-4 Email Draft').first().json.message?.content || '';\n\ntry {\n  // Parse LinkedIn draft\n  const linkedinMatch = linkedinResponse.match(/\\{[\\s\\S]*\\}/);\n  const linkedinDraft = linkedinMatch ? JSON.parse(linkedinMatch[0]) : {};\n  \n  // Parse Email draft\n  const emailMatch = emailResponse.match(/\\{[\\s\\S]*\\}/);\n  const emailDraft = emailMatch ? JSON.parse(emailMatch[0]) : {};\n  \n  return {\n    json: {\n      ...prospectData,\n      personalization: {\n        linkedin_draft: {\n          subject: linkedinDraft.subject_line || null,\n          message: linkedinDraft.message || '',\n          rationale: linkedinDraft.approach_rationale || '',\n          backup_angle: linkedinDraft.backup_angle || ''\n        },\n        email_draft: {\n          subject: emailDraft.subject_line || '',\n          body: emailDraft.email_body || '',\n          ps: emailDraft.ps_line || null,\n          rationale: emailDraft.approach_rationale || '',\n          best_send_time: emailDraft.best_send_time || 'Weekday morning'\n        },\n        pain_point_analysis: prospectData.deep_research?.likely_pain_points || [],\n        recommended_approach: prospectData.deep_research?.recommended_angle || '',\n        automation_opportunities: prospectData.deep_research?.automation_opportunities || [],\n        key_value_props: prospectData.deep_research?.key_value_props || []\n      },\n      personalization_complete: true,\n      personalized_at: new Date().toISOString(),\n      ready_for_outreach: true\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      ...prospectData,\n      personalization: {\n        linkedin_raw: linkedinResponse,\n        email_raw: emailResponse,\n        error: error.message\n      },\n      personalization_complete: false\n    }\n  };\n}"
      },
      "id": "merge-personalization",
      "name": "Merge All Personalization",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"UPDATE fs_prospects SET \\n  email_draft = '\" + ($json.personalization?.email_draft?.body || '').replace(/'/g, \"''\") + \"',\\n  linkedin_draft = '\" + ($json.personalization?.linkedin_draft?.message || '').replace(/'/g, \"''\") + \"',\\n  pain_point_analysis = '\" + JSON.stringify($json.personalization?.pain_point_analysis || []).replace(/'/g, \"''\") + \"',\\n  recommended_approach = '\" + ($json.personalization?.recommended_approach || '').replace(/'/g, \"''\") + \"',\\n  ready_for_outreach = TRUE,\\n  status = 'personalized',\\n  personalized_at = NOW()\\nWHERE prospect_id = '\" + $json.prospect_id + \"';\" }}"
      },
      "id": "update-supabase",
      "name": "Update Supabase with Personalization",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1850, 300],
      "credentials": {
        "supabaseApi": {
          "id": "your-supabase-credential-id",
          "name": "Supabase - Syntora"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Generate personalization summary\nconst items = $input.all();\n\nconst summary = {\n  workflow: 'ai_personalization_agent',\n  prospects_personalized: items.length,\n  timestamp: new Date().toISOString()\n};\n\nreturn { json: summary };"
      },
      "id": "generate-summary",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2050, 300]
    }
  ],
  "connections": {
    "When Called by Orchestrator": {
      "main": [
        [
          {
            "node": "Load Qualified A/B Prospects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Qualified A/B Prospects": {
      "main": [
        [
          {
            "node": "Prepare Deep Research Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Deep Research Prompt": {
      "main": [
        [
          {
            "node": "GPT-4 Deep Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4 Deep Research": {
      "main": [
        [
          {
            "node": "Parse Research Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Research Results": {
      "main": [
        [
          {
            "node": "Prepare LinkedIn Draft Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Email Draft Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LinkedIn Draft Prompt": {
      "main": [
        [
          {
            "node": "GPT-4 LinkedIn Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Draft Prompt": {
      "main": [
        [
          {
            "node": "GPT-4 Email Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4 LinkedIn Draft": {
      "main": [
        [
          {
            "node": "Merge All Personalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4 Email Draft": {
      "main": [
        [
          {
            "node": "Merge All Personalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Personalization": {
      "main": [
        [
          {
            "node": "Update Supabase with Personalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Supabase with Personalization": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["ai-agent", "personalization", "outreach"],
  "triggerCount": 0,
  "updatedAt": "2025-10-03T00:00:00.000Z",
  "versionId": "1"
}

