CRE-Workflows/01-property-intake.json
{
  "name": "Property Intake & Validation - Optimized",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger-intake",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 400]
    },
    {
      "parameters": {
        "functionCode": "// Validate input data\nconst input = $json;\nconst errors = [];\n\nif (!input.address || input.address.trim().length < 5) {\n  errors.push('Address is required and must be at least 5 characters');\n}\n\nif (!input.email || !input.email.includes('@')) {\n  errors.push('Valid email is required');\n}\n\nif (!input.property_type) {\n  errors.push('Property type is required');\n}\n\nif (errors.length > 0) {\n  throw new Error('Validation failed: ' + errors.join(', '));\n}\n\nreturn [{ json: input }];"
      },
      "id": "validate-input",
      "name": "Validate Input Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://maps.googleapis.com/maps/api/geocode/json",
        "qs": {
          "address": "={{$json.address}}",
          "key": "={{$env.GOOGLE_MAPS_API_KEY}}"
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "geocode-address",
      "name": "Google Geocoding API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "functionCode": "// Check for geocoding errors\nif ($json.status !== 'OK' || !$json.results || $json.results.length === 0) {\n  throw new Error('Address geocoding failed: ' + ($json.error_message || 'Address not found'));\n}\n\n// Parse geocoding result\nconst result = $json.results[0];\nconst components = result.address_components;\nconst originalData = $('Validate Input Data').item.json;\n\nconst getComponent = (type) => {\n  const comp = components.find(c => c.types.includes(type));\n  return comp ? comp.long_name : null;\n};\n\nconst parsedData = {\n  original_address: originalData.address,\n  formatted_address: result.formatted_address,\n  street: ((getComponent('street_number') || '') + ' ' + (getComponent('route') || '')).trim(),\n  city: getComponent('locality') || getComponent('administrative_area_level_2'),\n  state: getComponent('administrative_area_level_1'),\n  zip_code: getComponent('postal_code'),\n  county: getComponent('administrative_area_level_2'),\n  property_type: originalData.property_type,\n  email: originalData.email,\n  lat: result.geometry.location.lat,\n  lng: result.geometry.location.lng\n};\n\n// Validate parsed data\nif (!parsedData.city || !parsedData.state || !parsedData.zip_code) {\n  throw new Error('Could not extract complete address components. Please provide a more specific address.');\n}\n\nreturn [{ json: parsedData }];"
      },
      "id": "parse-geocode",
      "name": "Parse & Validate Geocoding Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "functionCode": "// Map county and city to official record URLs\nconst property = $json;\nconst county = property.county;\nconst city = property.city;\n\n// County-level record URLs (assessor, recorder, tax)\nconst countyMapping = {\n  'Cook County': {\n    assessor: 'https://www.cookcountyassessor.com/search/property',\n    recorder: 'https://cookrecorder.com/search/web',\n    property_tax: 'https://cookcountypropertyinfo.com/',\n    treasurer: 'https://www.cookcountytreasurer.com/search.aspx'\n  },\n  'DuPage County': {\n    assessor: 'https://www.dupageco.org/PropertySearch/',\n    recorder: 'https://www.dupageco.org/Recorder/'\n  },\n  'Lake County': {\n    assessor: 'https://www.lakecountyil.gov/1170/Property-Tax-and-Assessment-Information',\n    recorder: 'https://www.lakecountyil.gov/395/Recorder-of-Deeds'\n  },\n  'Will County': {\n    assessor: 'https://www.willcountyassessor.com/',\n    recorder: 'https://www.willcountyrecorder.com/'\n  },\n  'Kane County': {\n    assessor: 'https://www.kanecountyassessments.org/',\n    recorder: 'https://www.co.kane.il.us/recorder/'\n  },\n  'McHenry County': {\n    assessor: 'https://www.mchenrycountyil.gov/county-government/departments-j-z/supervisors-of-assessments',\n    recorder: 'https://www.mchenrycountyil.gov/county-government/departments-j-z/recorder-of-deeds'\n  }\n};\n\n// City-level record URLs (building permits, zoning, violations)\nconst cityMapping = {\n  'Chicago': {\n    building: 'https://webapps1.chicago.gov/buildingrecords/',\n    planning: 'https://www.chicago.gov/city/en/depts/dcd/supp_info/zoning.html',\n    code_enforcement: 'https://data.cityofchicago.org/Buildings/Building-Violations/22u3-xenr',\n    data_portal_api: 'https://data.cityofchicago.org/resource/',\n    use_api: true\n  },\n  'Naperville': {\n    building: 'https://www.naperville.il.us/services/building-permits/',\n    planning: 'https://www.naperville.il.us/services/planning-and-zoning/'\n  },\n  'Evanston': {\n    building: 'https://www.cityofevanston.org/government/departments/community-development',\n    planning: 'https://www.cityofevanston.org/government/departments/community-development/planning-zoning'\n  }\n  // Add more cities as needed - or use generic pattern\n};\n\n// Get county URLs\nconst countySites = countyMapping[county];\nif (!countySites) {\n  throw new Error(`County '${county}' not yet supported. Supported counties: ${Object.keys(countyMapping).join(', ')}`);\n}\n\n// Get city URLs (or use defaults)\nconst citySites = cityMapping[city] || {\n  building: `https://www.${city.toLowerCase().replace(/\\s+/g, '')}.il.us/`,\n  planning: `https://www.${city.toLowerCase().replace(/\\s+/g, '')}.il.us/`,\n  code_enforcement: `https://www.${city.toLowerCase().replace(/\\s+/g, '')}.il.us/`,\n  use_api: false,\n  note: 'Generic URLs - may need manual configuration for this city'\n};\n\nreturn [{\n  json: {\n    ...property,\n    assessor_url: countySites.assessor,\n    recorder_url: countySites.recorder,\n    property_tax_url: countySites.property_tax || countySites.assessor,\n    treasurer_url: countySites.treasurer || '',\n    building_url: citySites.building,\n    planning_url: citySites.planning,\n    code_enforcement_url: citySites.code_enforcement,\n    data_portal_api: citySites.data_portal_api || '',\n    use_chicago_api: citySites.use_api || false,\n    county_supported: true,\n    city_mapped: city in cityMapping\n  }\n}];"
      },
      "id": "county-mapping",
      "name": "Load County Municipal Sites",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "operation": "create",
        "table": "automation.cre_properties",
        "dataMode": "defineBelow",
        "columnsUi": {
          "values": [
            {
              "column": "address",
              "value": "={{$json.formatted_address}}"
            },
            {
              "column": "formatted_address",
              "value": "={{$json.formatted_address}}"
            },
            {
              "column": "street",
              "value": "={{$json.street}}"
            },
            {
              "column": "city",
              "value": "={{$json.city}}"
            },
            {
              "column": "state",
              "value": "={{$json.state}}"
            },
            {
              "column": "zip_code",
              "value": "={{$json.zip_code}}"
            },
            {
              "column": "county",
              "value": "={{$json.county}}"
            },
            {
              "column": "property_type",
              "value": "={{$json.property_type}}"
            },
            {
              "column": "email",
              "value": "={{$json.email}}"
            },
            {
              "column": "latitude",
              "value": "={{$json.lat}}"
            },
            {
              "column": "longitude",
              "value": "={{$json.lng}}"
            },
            {
              "column": "status",
              "value": "processing"
            },
            {
              "column": "created_at",
              "value": "={{$now}}"
            }
          ]
        },
        "options": {
          "queryName": "returning",
          "returning": "Specific Fields",
          "returnFields": "id"
        }
      },
      "id": "save-property",
      "name": "Save Property to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 400],
      "credentials": {
        "supabaseApi": {
          "id": "{{$env.SUPABASE_CREDENTIAL_ID}}",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Format return data with validation\nconst propertyData = $json;\nconst addressData = $('Load County Municipal Sites').item.json;\n\nif (!propertyData.id) {\n  throw new Error('Failed to save property to database');\n}\n\nreturn [{\n  json: {\n    property_id: propertyData.id,\n    formatted_address: propertyData.address,\n    city: propertyData.city,\n    state: propertyData.state,\n    zip_code: propertyData.zip_code,\n    county: propertyData.county,\n    property_type: propertyData.property_type,\n    email: addressData.email,\n    assessor_url: addressData.assessor_url,\n    planning_url: addressData.planning_url,\n    building_url: addressData.building_url,\n    recorder_url: addressData.recorder_url,\n    code_enforcement_url: addressData.code_enforcement_url,\n    county_supported: addressData.county_supported,\n    validation_passed: true\n  }\n}];"
      },
      "id": "format-return",
      "name": "Format Return Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 400]
    },
    {
      "id": "error-handler-geocode",
      "name": "Error Handler - Geocoding",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [650, 600],
      "parameters": {
        "message": "={{ 'Geocoding failed: ' + ($json.error?.message || $json.error_message || 'Unknown error') }}"
      }
    },
    {
      "id": "error-handler-supabase",
      "name": "Error Handler - Database",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [1250, 600],
      "parameters": {
        "message": "={{ 'Database operation failed: ' + ($json.error?.message || 'Unknown error') }}"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Validate Input Data", "type": "main", "index": 0 }]]
    },
    "Validate Input Data": {
      "main": [[{ "node": "Google Geocoding API", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Error Handler - Geocoding", "type": "main", "index": 0 }]]
    },
    "Google Geocoding API": {
      "main": [[{ "node": "Parse & Validate Geocoding Result", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Error Handler - Geocoding", "type": "main", "index": 0 }]]
    },
    "Parse & Validate Geocoding Result": {
      "main": [[{ "node": "Load County Municipal Sites", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Error Handler - Geocoding", "type": "main", "index": 0 }]]
    },
    "Load County Municipal Sites": {
      "main": [[{ "node": "Save Property to Supabase", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Error Handler - Database", "type": "main", "index": 0 }]]
    },
    "Save Property to Supabase": {
      "main": [[{ "node": "Format Return Data", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Error Handler - Database", "type": "main", "index": 0 }]]
    },
    "Format Return Data": {
      "main": [[]],
      "error": [[{ "node": "Error Handler - Database", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC",
    "executionTimeout": 300,
    "maxExecutions": 1000,
    "retryOnFail": true,
    "retryCount": 3,
    "retryDelay": 1000
  },
  "staticData": null,
  "tags": ["cre", "intake", "optimized", "chicago-area"],
  "triggerCount": 0,
  "updatedAt": "2025-11-03T00:00:00.000Z",
  "versionId": "3.1"
}
