CRE-Workflows/02-municipal-records-agent.json
{
  "name": "Municipal Records Agent - Optimized",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "property_id",
              "type": "string"
            },
            {
              "name": "property_address",
              "type": "string"
            },
            {
              "name": "county",
              "type": "string"
            },
            {
              "name": "assessor_url",
              "type": "string"
            },
            {
              "name": "planning_url",
              "type": "string"
            },
            {
              "name": "building_url",
              "type": "string"
            },
            {
              "name": "recorder_url",
              "type": "string"
            },
            {
              "name": "code_enforcement_url",
              "type": "string"
            },
            {
              "name": "email",
              "type": "string"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [250, 400]
    },
    {
      "parameters": {
        "functionCode": "// Initialize agent context\nconst input = $json;\nconst startTime = Date.now();\nconst costs = { firecrawl: 0, openrouter: 0, total: 0 };\n\nreturn [{\n  json: {\n    property_id: input.property_id,\n    property_address: input.property_address,\n    county: input.county,\n    assessor_url: input.assessor_url,\n    planning_url: input.planning_url,\n    building_url: input.building_url,\n    recorder_url: input.recorder_url,\n    code_enforcement_url: input.code_enforcement_url,\n    email: input.email,\n    start_time: startTime,\n    costs: costs,\n    documents_retrieved: [],\n    agent_context: `You are a CRE research agent specializing in municipal property records. Your task is to retrieve comprehensive property information including:\n1. Property assessment and value\n2. Property tax records\n3. Zoning certificates\n4. Building permits\n5. Code violations\n6. Liens and encumbrances\n7. Ownership information\n8. Property details\n\nProperty: ${input.property_address}\nCounty: ${input.county}\n\nUse the available tools strategically - start with search to find relevant pages, then scrape specific pages, or crawl entire sections if needed.`\n  }\n}];"
      },
      "id": "init-context",
      "name": "Initialize Agent Context",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "options": {
          "maxIterations": 15,
          "systemMessage": "={{ $json.agent_context }}"
        }
      },
      "id": "agent",
      "name": "Municipal Records Agent",
      "type": "n8n-nodes-base.agent",
      "typeVersion": 1.8,
      "position": [650, 400]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "openai/gpt-4o-mini"
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 2000
        }
      },
      "id": "openrouter",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1.2,
      "position": [850, 400],
      "credentials": {
        "openRouterApi": {
          "id": "{{$env.OPENROUTER_CREDENTIAL_ID}}",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "name": "Firecrawl_Search_Tool",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "02a-firecrawl-search-tool"
        },
        "description": "Search government websites for property records. Use this tool to find relevant pages before scraping. Input should be a JSON object with 'query' (search query string) and 'url' (base URL of government site). Use specific queries like 'property assessment [address]' or 'zoning certificate [address]'.",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "id": "query",
              "type": "string",
              "required": true,
              "displayName": "Search Query"
            },
            {
              "id": "url",
              "type": "string",
              "required": true,
              "displayName": "Base URL"
            },
            {
              "id": "property_address",
              "type": "string",
              "required": false,
              "displayName": "Property Address"
            }
          ],
          "values": {
            "query": "={{ $fromAI('query', '', 'string') }}",
            "url": "={{ $fromAI('url', '', 'string') }}",
            "property_address": "={{ $json.property_address }}"
          }
        }
      },
      "id": "firecrawl-search-tool",
      "name": "Firecrawl Search Tool",
      "type": "n8n-nodes-base.toolWorkflow",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "name": "Firecrawl_Scrape_Tool",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "02b-firecrawl-scrape-tool"
        },
        "description": "Scrape a specific URL to extract content. Use this tool when you have a specific URL that contains property information. Input should be a JSON object with 'url' (the URL to scrape).",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "id": "url",
              "type": "string",
              "required": true,
              "displayName": "URL to Scrape"
            },
            {
              "id": "document_type",
              "type": "string",
              "required": false,
              "displayName": "Document Type"
            }
          ],
          "values": {
            "url": "={{ $fromAI('url', '', 'string') }}",
            "document_type": "={{ $fromAI('document_type', '', 'string') }}"
          }
        }
      },
      "id": "firecrawl-scrape-tool",
      "name": "Firecrawl Scrape Tool",
      "type": "n8n-nodes-base.toolWorkflow",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "name": "Firecrawl_Crawl_Tool",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "02c-firecrawl-crawl-tool"
        },
        "description": "Crawl a website section to find multiple pages. Use this tool when you need to explore a directory or section of a government website. Input should be a JSON object with 'url' (starting URL) and 'limit' (max pages, default 10).",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "id": "url",
              "type": "string",
              "required": true,
              "displayName": "Starting URL"
            },
            {
              "id": "limit",
              "type": "number",
              "required": false,
              "displayName": "Page Limit"
            }
          ],
          "values": {
            "url": "={{ $fromAI('url', '', 'string') }}",
            "limit": "={{ $fromAI('limit', 10, 'number') }}"
          }
        }
      },
      "id": "firecrawl-crawl-tool",
      "name": "Firecrawl Crawl Tool",
      "type": "n8n-nodes-base.toolWorkflow",
      "typeVersion": 2,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "functionCode": "// Process agent results and extract data\nconst agentOutput = $json.output || $json.text || '';\nconst propertyId = $('Initialize Agent Context').item.json.property_id;\nconst propertyAddress = $('Initialize Agent Context').item.json.property_address;\n\n// Extract structured data using LLM\nconst extractionPrompt = `Extract structured property data from the following text. Return JSON with these fields:\n{\n  \"document_type\": \"assessment|tax|zoning|permit|violation|lien|ownership|details\",\n  \"assessed_value\": number or null,\n  \"tax_amount\": number or null,\n  \"zoning_code\": string or null,\n  \"permit_count\": number or null,\n  \"violation_count\": number or null,\n  \"lien_amount\": number or null,\n  \"owner_name\": string or null,\n  \"property_details\": object or null,\n  \"confidence_score\": number (0-1),\n  \"extracted_data\": object\n}\n\nText: ${agentOutput.substring(0, 3000)}`;\n\nreturn [{\n  json: {\n    property_id: propertyId,\n    property_address: propertyAddress,\n    raw_output: agentOutput,\n    extraction_prompt: extractionPrompt,\n    needs_extraction: true\n  }\n}];"
      },
      "id": "process-agent-output",
      "name": "Process Agent Output",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "openai/gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a data extraction specialist. Extract structured property data from text and return valid JSON only."
            },
            {
              "role": "user",
              "content": "={{ $json.extraction_prompt }}"
            }
          ]
        },
        "options": {
          "temperature": 0.1,
          "maxTokens": 1000,
          "responseFormat": {
            "type": "json_object"
          }
        }
      },
      "id": "extract-data",
      "name": "Extract Structured Data",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1.2,
      "position": [1450, 400],
      "credentials": {
        "openRouterApi": {
          "id": "{{$env.OPENROUTER_CREDENTIAL_ID}}",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Validate and save extracted data\nconst extractedData = JSON.parse($json.output || $json.text || '{}');\nconst propertyId = $('Initialize Agent Context').item.json.property_id;\nconst startTime = $('Initialize Agent Context').item.json.start_time;\n\n// Validate extracted data\nif (!extractedData.document_type || extractedData.confidence_score < 0.5) {\n  return [{ json: { skip: true, reason: 'Low confidence or missing document type' } }];\n}\n\n// Calculate cost (estimate)\nconst costs = $('Initialize Agent Context').item.json.costs;\ncosts.firecrawl += 0.01; // Estimate per operation\ncosts.openrouter += 0.002; // Estimate per LLM call\ncosts.total = costs.firecrawl + costs.openrouter;\n\nconst documentData = {\n  property_id: propertyId,\n  document_type: extractedData.document_type,\n  document_category: 'municipal',\n  source: 'agent_retrieval',\n  extracted_data: extractedData.extracted_data || extractedData,\n  confidence_score: extractedData.confidence_score,\n  status: extractedData.confidence_score >= 0.7 ? 'validated' : 'needs_review'\n};\n\nreturn [{\n  json: {\n    ...documentData,\n    costs: costs,\n    execution_time_ms: Date.now() - startTime\n  }\n}];"
      },
      "id": "validate-save",
      "name": "Validate & Prepare Save",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "cre_documents",
        "fields": {
          "mappingMode": "defineBelow",
          "values": {
            "property_id": "={{ $json.property_id }}",
            "document_type": "={{ $json.document_type }}",
            "document_category": "={{ $json.document_category }}",
            "source": "={{ $json.source }}",
            "extracted_data": "={{ $json.extracted_data }}",
            "status": "={{ $json.status }}",
            "retrieved_at": "={{ $now }}"
          }
        }
      },
      "id": "save-document",
      "name": "Save Document to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1850, 400],
      "credentials": {
        "supabaseApi": {
          "id": "{{$env.SUPABASE_CREDENTIAL_ID}}",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Aggregate results\nconst allItems = $input.all();\nconst documents = allItems.filter(i => !i.json.skip).map(i => i.json.document_type);\nconst totalCosts = allItems.reduce((acc, item) => {\n  if (item.json.costs) {\n    acc.firecrawl += item.json.costs.firecrawl || 0;\n    acc.openrouter += item.json.costs.openrouter || 0;\n  }\n  return acc;\n}, { firecrawl: 0, openrouter: 0, total: 0 });\n\ntotalCosts.total = totalCosts.firecrawl + totalCosts.openrouter;\n\nconst propertyId = $('Initialize Agent Context').item.json.property_id;\nconst startTime = $('Initialize Agent Context').item.json.start_time;\n\nreturn [{\n  json: {\n    property_id: propertyId,\n    status: 'success',\n    documents_retrieved: documents.length,\n    document_types: documents,\n    costs: totalCosts,\n    execution_time_ms: Date.now() - startTime,\n    branch: 'municipal'\n  }\n}];"
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2050, 400]
    },
    {
      "id": "error-handler-agent",
      "name": "Error Handler - Agent",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [650, 600],
      "parameters": {
        "message": "={{ 'Municipal records agent failed: ' + ($json.error?.message || 'Unknown error') }}"
      }
    },
    {
      "id": "error-handler-extraction",
      "name": "Error Handler - Extraction",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [1450, 600],
      "parameters": {
        "message": "={{ 'Data extraction failed: ' + ($json.error?.message || 'Unknown error') }}"
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [[{ "node": "Initialize Agent Context", "type": "main", "index": 0 }]]
    },
    "Initialize Agent Context": {
      "main": [[{ "node": "Municipal Records Agent", "type": "main", "index": 0 }]]
    },
    "Municipal Records Agent": {
      "main": [[{ "node": "OpenRouter Chat Model", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Error Handler - Agent", "type": "main", "index": 0 }]]
    },
    "OpenRouter Chat Model": {
      "main": [[
        { "node": "Firecrawl Search Tool", "type": "main", "index": 0 },
        { "node": "Firecrawl Scrape Tool", "type": "main", "index": 0 },
        { "node": "Firecrawl Crawl Tool", "type": "main", "index": 0 }
      ]]
    },
    "Firecrawl Search Tool": {
      "main": [[{ "node": "Process Agent Output", "type": "main", "index": 0 }]]
    },
    "Firecrawl Scrape Tool": {
      "main": [[{ "node": "Process Agent Output", "type": "main", "index": 0 }]]
    },
    "Firecrawl Crawl Tool": {
      "main": [[{ "node": "Process Agent Output", "type": "main", "index": 0 }]]
    },
    "Process Agent Output": {
      "main": [[{ "node": "Extract Structured Data", "type": "main", "index": 0 }]]
    },
    "Extract Structured Data": {
      "main": [[{ "node": "Validate & Prepare Save", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Error Handler - Extraction", "type": "main", "index": 0 }]]
    },
    "Validate & Prepare Save": {
      "main": [[{ "node": "Save Document to Supabase", "type": "main", "index": 0 }]]
    },
    "Save Document to Supabase": {
      "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC",
    "executionTimeout": 1800,
    "maxExecutions": 1000,
    "retryOnFail": true,
    "retryCount": 2,
    "retryDelay": 2000
  },
  "staticData": null,
  "tags": ["cre", "agent", "municipal", "optimized"],
  "triggerCount": 0,
  "updatedAt": "2024-03-15T00:00:00.000Z",
  "versionId": "2.0"
}

