CRE-Workflows/02a-firecrawl-search-tool.json
{
  "name": "Firecrawl Search Tool",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query",
              "type": "string",
              "description": "Search query for web search"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.FIRECRAWL_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $json.query, pageOptions: { limit: 10 }, searchOptions: { limit: 10 } }) }}",
        "options": {}
      },
      "id": "firecrawl-search",
      "name": "Firecrawl Search API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "notes": "Uses Firecrawl API v1 /search endpoint\nSearches the entire web (no url parameter)\nReturns array of search results with URLs and content"
    },
    {
      "parameters": {
        "functionCode": "// Process Firecrawl search results\nconst response = $json;\nconst query = $('When Executed by Another Workflow').item.json.query;\n\n// Firecrawl search returns { success, data: [...] }\nconst results = response.data || [];\n\nreturn [{\n  json: {\n    operation: 'search',\n    query: query,\n    results_count: results.length,\n    results: results.map(r => ({\n      url: r.url,\n      title: r.title || 'No title',\n      description: r.description || '',\n      content: r.markdown || r.content || '',\n      content_preview: (r.markdown || r.content || '').substring(0, 500)\n    })),\n    success: true,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "process-results",
      "name": "Process Search Results",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [450, 500],
      "parameters": {
        "message": "={{ 'Firecrawl search failed: ' + ($json.error?.message || $json.message || 'Unknown error') }}"
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [[{ "node": "Firecrawl Search API", "type": "main", "index": 0 }]]
    },
    "Firecrawl Search API": {
      "main": [[{ "node": "Process Search Results", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Error Handler", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC",
    "retryOnFail": true,
    "retryCount": 2,
    "retryDelay": 2000
  },
  "staticData": null,
  "tags": ["cre", "tool", "firecrawl", "search"],
  "triggerCount": 0,
  "updatedAt": "2025-11-03T00:00:00.000Z",
  "versionId": "2.0"
}
