CRE-Workflows/02b-firecrawl-scrape-tool.json
{
  "name": "Firecrawl Scrape Tool",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "url",
              "type": "string"
            },
            {
              "name": "document_type",
              "type": "string"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ $json.url }}",
        "options": {
          "format": "markdown",
          "includeTags": ["body"],
          "excludeTags": ["script", "style", "noscript", "iframe"]
        }
      },
      "id": "firecrawl-scrape",
      "name": "Firecrawl Scrape",
      "type": "n8n-nodes-base.firecrawl",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "firecrawlApi": {
          "id": "{{$env.FIRECRAWL_CREDENTIAL_ID}}",
          "name": "Firecrawl"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Process scraped content\nconst content = $json.data?.content || $json.content || '';\nconst url = $json.url || $('When Executed by Another Workflow').item.json.url;\nconst documentType = $('When Executed by Another Workflow').item.json.document_type || 'unknown';\n\nreturn [{\n  json: {\n    operation: 'scrape',\n    url: url,\n    document_type: documentType,\n    content: content.substring(0, 50000), // Limit content size\n    content_length: content.length,\n    success: true\n  }\n}];"
      },
      "id": "process-content",
      "name": "Process Scraped Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [450, 500],
      "parameters": {
        "message": "={{ 'Firecrawl scrape failed: ' + ($json.error?.message || 'Unknown error') }}"
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [[{ "node": "Firecrawl Scrape", "type": "main", "index": 0 }]]
    },
    "Firecrawl Scrape": {
      "main": [[{ "node": "Process Scraped Content", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Error Handler", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "retryOnFail": true,
    "retryCount": 2,
    "retryDelay": 1000
  },
  "staticData": null,
  "tags": ["cre", "tool", "firecrawl"],
  "triggerCount": 0,
  "updatedAt": "2024-03-15T00:00:00.000Z",
  "versionId": "1.0"
}

