CRE-Workflows/02b-firecrawl-scrape-tool.json
{
  "name": "Firecrawl Scrape Tool",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "url",
              "type": "string",
              "description": "URL to scrape"
            },
            {
              "name": "document_type",
              "type": "string",
              "description": "Type of document being scraped"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.FIRECRAWL_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.url, formats: ['markdown'], onlyMainContent: true, includeTags: ['body'], excludeTags: ['script', 'style', 'noscript', 'iframe', 'nav', 'footer', 'header'], waitFor: 1000 }) }}",
        "options": {}
      },
      "id": "firecrawl-scrape",
      "name": "Firecrawl Scrape API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "notes": "Uses Firecrawl API v1 /scrape endpoint\nScrapes a specific URL and returns markdown\nFilters out unnecessary tags for cleaner content"
    },
    {
      "parameters": {
        "functionCode": "// Process Firecrawl scrape results\nconst response = $json;\nconst url = $('When Executed by Another Workflow').item.json.url;\nconst documentType = $('When Executed by Another Workflow').item.json.document_type || 'unknown';\n\n// Firecrawl scrape returns { success, data: { markdown, html, ... } }\nconst data = response.data || {};\nconst content = data.markdown || data.html || data.content || '';\n\nreturn [{\n  json: {\n    operation: 'scrape',\n    url: url,\n    document_type: documentType,\n    content: content.substring(0, 50000), // Limit to 50k chars to prevent memory issues\n    content_length: content.length,\n    metadata: data.metadata || {},\n    success: true,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "process-content",
      "name": "Process Scraped Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [450, 500],
      "parameters": {
        "message": "={{ 'Firecrawl scrape failed for URL ' + $('When Executed by Another Workflow').item.json.url + ': ' + ($json.error?.message || $json.message || 'Unknown error') }}"
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [[{ "node": "Firecrawl Scrape API", "type": "main", "index": 0 }]]
    },
    "Firecrawl Scrape API": {
      "main": [[{ "node": "Process Scraped Content", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Error Handler", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC",
    "retryOnFail": true,
    "retryCount": 2,
    "retryDelay": 2000
  },
  "staticData": null,
  "tags": ["cre", "tool", "firecrawl", "scrape"],
  "triggerCount": 0,
  "updatedAt": "2025-11-03T00:00:00.000Z",
  "versionId": "2.0"
}
